
/.idea
/build
/ChimeraX_TutorialToolQt.egg-info
/dist
_info.txt
/.venv
*.pyc
DiffFitViewerTool.egg-info/
DiffFit.egg-info/
dev_data/output/*
dev_data/output_old/*
!dev_data/output/dev_comp_domain_fit_3_domains_10s20q_new_q
case_study_data
run
